# Rockchip DRM / GPU / VPU
CONFIG_DRM=y
CONFIG_DRM_ROCKCHIP=y
CONFIG_DRM_PANFROST=m
CONFIG_DRM_FBDEV_EMULATION=y

# VPU / V4L2
CONFIG_MEDIA_SUPPORT=y
CONFIG_MEDIA_CONTROLLER=y
CONFIG_VIDEO_DEV=y
CONFIG_VIDEO_ROCKCHIP_VDEC=m
CONFIG_VIDEO_ROCKCHIP_ISP1=m
CONFIG_V4L2_MEM2MEM_DEV=y
CONFIG_V4L2_FWNODE=y

# RGA 硬件加速
# CONFIG_ROCKCHIP_RGA=y       # 或 =m，如果希望做模块
# CONFIG_DRM_ROCKCHIP_RGA=y   # DRM 接口支持